.doctor-navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 2%;
    transition: 0.5s;
}

.doctor-logo {
    width: 70px;
    cursor: pointer;
    margin-left: 40px;
    transition: filter 0.3s;
}

.doctor-ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

.doctor-ul li {
    display: inline-block;
    margin: 5px 15px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.doctor-toggle-icon {
    width: 35px;
    cursor: pointer;
    margin-left: 40px;
}

.doctor-search-box {
    display: flex;
    align-items: center;
    background: #242424;
    padding: 3px 15px;
    border-radius: 55px;
}

.doctor-search-box input {
    padding: 4px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    max-width: 200px;
    font-family: 'Courier New', Courier, monospace;
}

.doctor-search-box input::placeholder {
    color: #fff;
}

.doctor-search-box img {
    width: 17px;
    margin-right: 8px;
}

.dark .doctor-navbar {
    background: #000;
    color: #fff;
}

.dark .doctor-search-box {
    background: #fff;
}

.dark .doctor-search-box input {
    color: #222;
}

.dark .doctor-search-box input::placeholder {
    color: #222;
}

.dark .doctor-logo {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}